@page "/Todo"

<h1>Todo List (@todos.Count(todo => !todo.IsDone))</h1>


<button class="btn btn-primary" @onclick="Edit">Edit</button>
 
<ul>
    @foreach (var todo in todos){

        <div class="row">
            <input class="col-sm-1" type="checkbox" @bind="@todo.IsDone" />
            <input readonly=@IsDisabled @bind="todo.Title" class="form-control col-sm-2"/>
        </div>
        <br/>
    }

    
</ul>

<input placeholder="Something todo" @bind="@newTodo"/>
<button class="btn btn-primary" @onclick="AddTodo">Add todo</button>


@code {
    private IList<TodoItem> todos = new List<TodoItem>();
    private string newTodo;

        private void AddTodo(){
            if (!string.IsNullOrWhiteSpace(newTodo))
            {
                todos.Add(new TodoItem { Title = newTodo });
                newTodo = string.Empty;
            }
        }

    protected bool IsDisabled{get;set;} = true;
    private void Edit(){
        IsDisabled = !IsDisabled;
        
    }
}

